@font-face {
  font-family: Norse-Bold;
  src: url(assets/Norse-Bold.otf);
}

body {
  margin: 0px;
}

.logo {
  background-image: url(assets/bini-background.jpg);
  background-size: cover;
  width: 30vw;
  height: 100vh;
  box-shadow: 5px 0px 5px pink;
}
